[run]
branch = True
source = recommend_api, ingest
omit =
    */migrations/*
    manage.py
    */settings/*
    */debug_*.py


[report]
show_missing = True
skip_covered = True
fail_under = 80

[html]
directory = cover_html