<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NextTrack: A music recommendation API</title>
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      font-family: sans-serif;
    }
    .main {
      max-width: 1200px;
      margin: 0 auto;
    }
    .columns {
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>
<body>
  <div class="main">
    <h1>NextTrack: A music recommendation API</h1>
    
    <div class="columns">
      <div>
        <h2>Random tracks</h2>
        <table>
          <thead>
            <tr>
              <th>MusicBrainz ID</th>
              <th>Artist - Track Title</th>
              <th>Sim</th>
            </tr>
          </thead>
          {% for track in tracks %}
            <tr>
              <td>{{track.musicbrainz_recordingid}}</td>
              <td>
                <a href="{% url 'api:track-detail' track.musicbrainz_recordingid %}">
                  {{track.title}} -
                  {% for artist in track.artists.all %}
                    {{ artist.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </a>
              </td>
              <td>
                <form action="{% url 'api:recommend' %}" method="POST">
                  <input name="musicbrainz_recordingid" type="text" value="{{track.musicbrainz_recordingid}}" hidden />
                  <input type="submit" value="🔍"/>
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div>
        <h2>Recommendation based on MBID</h2>
        <form action="{% url 'api:recommend' %}" method="POST">
          <input name="musicbrainz_recordingid" type="text" />
          <input type="submit" />
        </form>
      </div>
    </div>
  </div>
</body>
</html>